nav {
    height: 10vh;
    list-style: none;
    padding: 30px 0 20px 60px;
}

li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 8px 8px 8px;
    font-size: 16px;
}

.kiyanLogo {
    width: 60px;
    margin-right: 25px;
}

li:hover {
    cursor: pointer;
}