nav {
    background-color: #EAE7DC;
    height: 10vh;
    list-style: none;
    padding-left: 60px;
    padding-top: 30px;
    padding-bottom: 20px;
}

li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 8px 8px 8px;
    font-size: 16px;
}

li:hover {
    cursor: pointer;
}